*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#setSite{
    background-color: black;
    color: #fffff0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
   
}
#setSite h1{
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem ;
}
#setAdminbar{
    height: 100vh;
    background-color: black;
}
#setAdminbar h1{
    color: #fffff0;
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem 13rem;
}
#setCardAdmin{
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 1rem; 
    background-color: rgba(37, 41, 40, 0.774);
}
#setNAdmin{
    color: #fffff0 !important;
    font-weight: 700;
    text-decoration: none;
}

@media(max-width:380px){
    #setAdminbar{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #setAdminbar h1{
        color: #fffff0;
        font-size: 3rem;
        font-weight: 700;
        padding: 3rem 2rem;
    }
    #setCardAdmin{
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media(max-width:420px){
    #setAdminbar{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #setAdminbar h1{
        color: #fffff0;
        font-size: 3rem;
        font-weight: 700;
        padding: 3rem 2rem;
    }
    #setCardAdmin{
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media(max-width:768px){
    #setAdminbar{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #setAdminbar h1{
        color: #fffff0;
        font-size: 3rem;
        font-weight: 700;
        padding: 1rem 2rem;
    }
    #setCardAdmin{
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media(max-width:1024px){
    #setAdminbar{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #setAdminbar h1{
        color: #fffff0;
        font-size: 3rem;
        font-weight: 700;
        padding: 1rem 2rem;
    }
    #setCardAdmin{
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}