*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Xtream{
    background-color: #fffff0;
    margin-top: 0rem !important;
    border-top: 1px solid #ffa600be;
    z-index: -11 !important;
}
.broadband{
    padding-left: 4rem;
}
#XtreamTeext{
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#XtreamTeext h1{
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-family: 'Oswald', sans-serif;
}
#XtreamTeext span{
    width: 54%;
    color: #fffff0;
    margin-top: 1rem;
    border-radius: 0.7rem;
    padding: 0rem 2rem;
    font-weight: 800;
    background-color:#ffa600be ;
    font-size: 2rem !important; 
    letter-spacing: 0.1rem;
}

#XtreamTeext p{
    font-size: 1.5rem;
    margin-top: 0.3rem;
    font-family: 'sans-serif';
}

#XtreamTeext h2{
    margin-top: 2rem;
}
#XtreamTeext button{
    padding: 0.4rem 2rem;
    background-color: #ffa600be;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fffff0;
    border: none;
    width: 25%;
    border-radius: 0.5rem;
}

@media(max-width:380px){
    #XtreamTeext h1{
        padding-top: 6rem;
        font-size: 3rem;
    }
    #XtreamTeext{
        padding: 4rem;
        height: 70vh !important;
    }
    #XtreamTeext img{
        height: 50vh !important;
    }
    #XtreamTeext span{
        width: 80% !important;
    }
    #XtreamTeext button{
    width: 45%;
   }
}

@media(max-width:420px){
    #XtreamTeext{
        padding: 4rem;
        height: 70vh !important;
    }
    #XtreamTeext img{
        height: 50vh !important;
    }
    #XtreamTeext span{
        width: 80% !important;
    }
    #XtreamTeext button{
    width: 45%;
   }
}

@media(max-width:768px){
    #XtreamTeext{
        padding: 4rem;
        height: 55vh !important;
    }
    #XtreamTeext img{
        height: 50vh;
    }
    #XtreamTeext span{
        width: 100% !important;
        font-size: 1.8rem !important;
    }
    #XtreamTeext button{
    width: 45%;
   }
}


@media(max-width:1024px){
    #XtreamTeext{
        padding: 4rem;
        height: 85vh;
    }
    #XtreamTeext img{
        height: 50vh;
    }
    #XtreamTeext span{
        width: 75%;
    }
    #XtreamTeext button{
    width: 50%;
   }
}