*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainCard{
    padding: 6rem 0rem;
    background-color: #fffff0;
}
#setCardLimit{
    display: inline-flex !important ;
}

.mainCard h1{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    padding: 3rem 0rem;
}
.title{
    text-align: center;
    background-color: #000000;
    color: #fffff0;
    text-transform: capitalize;
    padding: 4rem 0rem;
}
.title h5{
    font-size: 2rem;
}
.title span{
    font-size: 1.5rem;
    font-weight: 600;
}
.title h2{
    font-size: 2.5rem;
    padding: 1rem 0rem;
    font-weight: 800;
}

.text{
    padding: 4rem 0rem;
    text-align: center;
}
.text h3{
    font-size: 1.5rem;
}
.text h1{
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 0rem;
}
.text h4{
    font-size: 1.4rem;
    color: #ffa600be;
    padding: 1rem 0rem;
}
.text h5{
    font-size: 1.5rem;
    padding: 1rem 3rem;
    font-weight: 800;
}
.text p{
    font-family: italic;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}
#setLink{
    color: #fffff0;
    padding: 0.7rem 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    background-color: #ffa600be;
    border-radius: 0.5rem;
}